/*
 * Temporary styesheet for use while refactoring theme
 *
 * This file should not be perfect it will be full of hacks and specificity violations
 * When the refactor is finished this will be removed...
 */




/*--------------------------------------------------------------*\
 *   8 - Alignments
\*--------------------------------------------------------------*/



/*
.owl-wrapper-outer.autoHeight {
    overflow: hidden;
}
a.more-link {
    color: #bdb76b;
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
}

.comment object,
.comment embed,  iframe {
    max-width: 100%;
/**padding:20px 0px; **/
/*}

.post-gallery-slider {
    padding-bottom: 20px;
}
.post-gallery-slider .item img{
    margin-bottom: 0px;
}*/
/***Pagination start here***/


/*/***Pagination load more button start here***/
/*a#inifiniteLoader {
    position: fixed;
    z-index: 2;
    bottom: 15px;
    right: 0;
    left: 0;
    text-align: center;
  display:none;
}
a#more_posts img {
    z-index: 2;
    bottom: 15px;
    right: 0;
    left: 0;
    text-align: center;
  display:none;
}*/







/*--------------------------------------------------------------*\
    1 - stuff
\*--------------------------------------------------------------*/



/* Moved here while I figure out if needed */
/*ol.commentlist li .reply a:hover,
a.more-link:hover {
    text-decoration: underline!important;
}
.content .post .post-meta .post-date,
.slider-post-date span {
    font-size: 15px;
    color: #999999;
}
.content .post .post-meta .post-author a{
    font-size:14px;
    color:#999999;
    letter-spacing: 1.5px;
}
.content .post .post-author-pic img {
    vertical-align: middle;
    max-width: 80px;
    margin:0 10px!important;
    border-radius: 100%;
}
.post span.post-comment a{
    font-size: 11px;
    color: #999999;
    font-style: italic;
    letter-spacing: 1.5px;
}
ul.slider-post-social.social-icon li.share-text,
.post-share .share-text,
.single-bottom-meta .post-share .share-text {
    font-style: italic;
    letter-spacing: 1.5px;
}
*/

/* ----------------------------------------- *\
 * TODO: Whats this?
\* ----------------------------------------- */

ul.load_post.standard-layout {
	padding-left: 0px;
}
.home .layout-top {
	margin-top: 30px;
}
.social-icon ul li i {
  font-size:16px;
  padding: 0 5px;
}

.content-wrapper .content .layout-top {
  border-bottom:1px solid #ddd;
  overflow:hidden;
  padding:10px 10px 10px 0;
  margin-bottom:30px;
}
.content-wrapper .content .layout-top .post-heading {
  float:left;
}
.content-wrapper .content .layout-top .post-heading h1{
  text-transform:uppercase;
  font-size:26px;
  margin:0px;
}
.content-wrapper .content .layout-top .view-buttons{
  padding-top:2px;
  float:right;
}
.content-wrapper .content .layout-top .view-buttons i{
  font-size:20px;
  margin-right:10px;
}
.two-grid-layout .double-post{
  width:49%;
  float:left;
}
/* Global Style for posts Start*/
.post-title h2{
  display: inline-block;
}
.content .post img {
  max-width:100%;
  height:auto;
}
.content  .post-last{
  margin-right:0px!important;
}



@media screen and (max-width: 768px) {
ul.boxed-layout .post .post-img,
	.content .boxed-layout .post  {
		width: auto;
		max-width: 585px;
		margin-left:auto;
		margin-right:auto;
	}
	ul.boxed-layout .post .post-content {
		width: 100%;
	  padding: 17px 4% 35px!important;
	}

	.home-category-wrapper ul li .home-category {
		width: 50%;
	}
	.home-category-wrapper .home-category .home-cat-title h4 {
		font-size:14px;
	}
}
