/*
 * Temporary styesheet for use while refactoring theme
 *
 * This file should not be perfect it will be full of hacks and specificity violations
 * When the refactor is finished this will be removed...
 */




/*--------------------------------------------------------------*\
 *   8 - Alignments
\*--------------------------------------------------------------*/




.owl-wrapper-outer.autoHeight {
    overflow: hidden;
}
a.more-link {
    color: #bdb76b;
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
}

.comment object,
.comment embed,  iframe {
    max-width: 100%;
/**padding:20px 0px; **/
}

.post-gallery-slider {
    padding-bottom: 20px;
}
.post-gallery-slider .item img{
    margin-bottom: 0px;
}
/***Pagination start here***/



/***Pagination load more button start here***/
a#inifiniteLoader {
    position: fixed;
    z-index: 2;
    bottom: 15px;
    right: 0;
    left: 0;
    text-align: center;
  display:none;
}
a#more_posts img {
    z-index: 2;
    bottom: 15px;
    right: 0;
    left: 0;
    text-align: center;
  display:none;
}







/*--------------------------------------------------------------*\
    1 - stuff
\*--------------------------------------------------------------*/

.sticky {}
.gallery-caption {}
.comment-list .bypostauthor {}
.header-wrapper{
  padding-top: 82px;
}
.container, #page {
  max-width:1170px;
  min-width:240px;
  margin-right: auto;
  margin-left:auto;
  position:relative;
  clear:both;
}
#page {
  clear:both;
  float:none;
}
.home #page {
    padding-top: 70px;
}
.admin-bar .nav-wrapper,
.admin-bar .nav-wrapper.small {
  top: 32px;
}
.content {
    padding-top: 9px;
    width: 70%;
    max-width: 800px;
    float: left;
}
#page.left .sidebar-wrapper {
    float: left;
}
#page.left .content {
    float: right;
}
.content-fullwidth {
    width: 100%;
    max-width: 1170px;
}
.sidebar-wrapper{
    max-width: 400px;
    width: 27.5%;
    float: right;
}
.content .page-description {
    margin-bottom: 100px;
}



/* Moved here while I figure out if needed */
/*ol.commentlist li .reply a:hover,
a.more-link:hover {
    text-decoration: underline!important;
}
.content .post .post-meta .post-date,
.slider-post-date span {
    font-size: 15px;
    color: #999999;
}
.content .post .post-meta .post-author a{
    font-size:14px;
    color:#999999;
    letter-spacing: 1.5px;
}
.content .post .post-author-pic img {
    vertical-align: middle;
    max-width: 80px;
    margin:0 10px!important;
    border-radius: 100%;
}
.post span.post-comment a{
    font-size: 11px;
    color: #999999;
    font-style: italic;
    letter-spacing: 1.5px;
}
ul.slider-post-social.social-icon li.share-text,
.post-share .share-text,
.single-bottom-meta .post-share .share-text {
    font-style: italic;
    letter-spacing: 1.5px;
}
*/

/* ----------------------------------------- *\
 * TODO: Whats this?
\* ----------------------------------------- */

ul.load_post.standard-layout {
    padding-left: 0px;
}
.home .layout-top {
    margin-top: 30px;
}
.social-icon ul li i {
  font-size:16px;
  padding: 0 5px;
}

.content-wrapper .content .layout-top {
  border-bottom:1px solid #ddd;
  overflow:hidden;
  padding:10px 10px 10px 0;
  margin-bottom:30px;
}
.content-wrapper .content .layout-top .post-heading {
  float:left;
}
.content-wrapper .content .layout-top .post-heading h1{
  text-transform:uppercase;
  font-size:26px;
  margin:0px;
}
.content-wrapper .content .layout-top .view-buttons{
  padding-top:2px;
  float:right;
}
.content-wrapper .content .layout-top .view-buttons i{
  font-size:20px;
  margin-right:10px;
}
.two-grid-layout .double-post{
  width:49%;
  float:left;
}
/* Global Style for posts Start*/
.post-title h2{
  display: inline-block;
}
.content .post img {
  max-width:100%;
  height:auto;
}
.content  .post-last{
  margin-right:0px!important;
}
.content .post, .content .grid-post{
  clear: none;
  margin-bottom:70px;
}






/* Temporarily added here while debugging styles conflict */
/****Slider*******/

.featured-posts .slider{
background-color:#fff;
border:1px solid rgba(221, 221, 221, 0.35);
padding:10px;
overflow: hidden;
min-height: 480px;
}
.header-wrapper .owl-carousel .owl-item img {
  display: inline-block;
  width: 70%;
  float: left;
}
.header-wrapper .slider-post-content {
  display: inline-block;
  width: 29%;
  float: left;
  padding-left: 25px;
}
.slider-post-category {
  margin-top: 20px;
}

.slider-post-content .slider-post-title{
  margin-bottom: 20px;
   letter-spacing: 2px;
}
.slider-post-content .slider-post-title h2{
  font-size:21px;
}
.slider-post-date {
  margin: 20px 0;
}
.slider-post-content .read-more-slider a {
  border: 1px solid #ddd;
  padding: 9px 15px;
  display: inline-block;
}
.slider-post-content .read-more-slider a:hover {
color:#fff;
}
.slider-post-content .read-more-slider{
margin-top:30px;
display: inline-block;
}
.slider-post-meta {
  margin-top: 38px;
  text-align: center;
}
ul.slider-post-social.social-icon li.share-text, .standard-bottom-meta .post-share .share-text, .single-bottom-meta .post-share .share-text {
    margin: 0px;
  color:#999999;
}
.social-icon i.fa,.post-share i.fa{
color:#bababa;
}
.slider-post-content .slider-post-social li.share-text{
  font-size:13px;
}
.slider-post-content .slider-post-social li{
display:inline;
margin:4px;
 font-size:15px;
}
.owl-controls .owl-prev:before {
    content: "\f104";
font-family:fontawesome;
font-size:50px;
color:#bdb76b;
}
.owl-controls .owl-next:before {
    content: "\f105";
font-family:fontawesome;
font-size:50px;
color:#bdb76b;
}
.slider .owl-controls .owl-next{
right:0%;
}
.slider .owl-controls .owl-prev{
left:0%;
}
.slider .owl-controls .owl-prev, .slider .owl-controls .owl-next{
opacity:0;
transition: all 0.25s linear;
}
.slider div#owl-demo:hover .owl-prev, .slider div#owl-demo:hover .owl-next{
opacity:1;
color: transparent;
}



