<?php
/**
* @package Glowline
*/

body {
	direction: rtl;
	unicode-bidi: embed;
}

span.edit-link a.post-edit-link {
	float: left;
}


.content {
	float: left;
}

#page.right .sidebar-wrapper {
	float: left;
}

#page.right .content {
	float: right;
}

.sidebar-wrapper {
	float: right;
}


.page blockquote::before {
	left: 20px;
	right: auto;
}



.alignleft {
	float:right;
}

.alignright {
	float: left;
}

a img.alignleft {
	float: right;

}

a img.alignright {
	float: left;

}



/* Text meant only for screen readers. */

.screen-reader-text:focus {
	left: 5px;
	right: auto;
}

.widget .tagcloud a {
	float: left;
}

/* Home menu Style Start*/

/* Home menu Style End*/

header {
	left: 0;
	right: auto;
}

.home .header {
	float: left;
}

header h1#logo {
	float: left;
}

#main-menu-wrapper .menu-item-has-children > a:after {
	right: 4px;
	left: auto;
}

.sub-menu .menu-item-has-children > a:after {
	right: 15px;
	left: auto;
}




/*-Toggle menu-*/

.toggle-menu .toggle-caret {
	left: 0;
	right: auto;
}

/***Header for no-home pages***/

.logo {
	float:left;
}

/* Logo Style End*/

/****Contact form start*******/

/****Slider*******/

.header-wrapper .owl-carousel .owl-item img {
	float: left;
}

.header-wrapper .slider-post-content {
	float: left;
}

.slider .owl-controls .owl-next {
	right:0%;
	left: auto;
}

.slider .owl-controls .owl-prev {
	left:0%;
	right: auto;
}

/****Slider End*******/
/****slider control****/

/****Search page start*******/


.search .pagination .older {
	float:left;
}

.search .pagination .newer {
	float:right;
}

/***Gallery page CSS start here***/

/***Gallery page CSS end here***/
/****Single page slider start*******/

.owl-controls .owl-prev {
	left:1%;
	right: auto;
}

.owl-controls .owl-next {
	right:1%;
	left: auto;
}

/****Single page slider End*******/
/****Header search style start*******/

#searchform-wrap {

	float: right;
	right: 0px;
	left: auto;
}

#searchform .icon-search:before {
	right: 5px;
	left: auto;
}

#searchform #s {
	float: right;
}

/****Header search style End*******/


.content-wrapper .content .layout-top .post-heading {
	float:left;
}

.content-wrapper .content .layout-top .view-buttons {
	float:right;
}


.two-grid-layout .double-post {
	float:left;
}

/* Global Style for posts Start*/



.post .post-content .post-meta .post-comment {
	float:right;
}

.post .post-content .post-meta .post-date {
	float:left;
}



/* Global Style for posts End*/
/* Sidebar two grid style start */
 ul.two-grid-layout li.post {
	float:left;
}



/* Sidebar two grid style end */
/* Sidebar three grid style start */
ul.three-grid-layout li.post {
	float:left;
}



/* Sidebar three grid style end */
/* Sidebar four grid style start */

 ul.four-grid-layout li.post {
	float:left;
}



/* Fullwidth Five grid style Start */
ul.five-grid-layout li.post {
	float:left;
}

.five-grid-layout .post {
	margin-left:3%;
	margin-right: auto;
}

/* Fullwidth Five grid style end */

/* box list Post Style Start */
ul.boxed-layout .post .post-img {
	float:left;
}

ul.boxed-layout li.post:nth-child(even) .post-img {
	float: right;
}

/* box list Post Style end */
/* list Post Style start */
ul.list-layout .post .post-img {
	float: left;
}

ul.list-layout .post .post-content .post-header {
	text-align:left;
}


ul.list-layout .post .post-content .read-more {
	text-align: left;
}

/* list Post Style end */

.home-category-wrapper .home-category img {
	float:left;
}

.home-category {
	float: left;
}



/**SIDEBAR START**/


.recent-comments-list .avatar {

	float: left;
}


.widget .flickr_badge_image img {
	float: left;
}

tfoot tr #prev a {
	float:left;
}

.widget .feature-posts-list .post-img {
	float: left;
}


.widget .feature-posts-list .avatar {
	float: left;
}

.widget .th-aboutme {
	text-align:left;
}

/** recent post widget **/

.th-widget-recent-post img {
	float:left;
}


.widget .tweet-content .time {
	text-align: right;
}

.mc4wp-form input[type=submit] {
	float: right;
}

.form.mc4wp-form input[type="email"] {
	float: left;
}

/**SIDEBAR END**/

/* Back to top Start */
#move-to-top {
	left: 10px;
	right: auto;
}

/* Back to top end */
/* Footer Style Start */
.footer .footer-widget-column .widget {
	float: left;
}



/* Footer Style End */
/* Page Style Start */



/* Page Style End */
/* Single Page Style Start */


.content .post .post-meta .post-author {
	text-align: right;
}


.single .post-content .post-share {
	float:right;
}

.single .tagcloud {
	float:left;
}

.post .post-share {
	float: right;
}

.post-nav .prev {
	float: left;
	text-align: left;
}

.post-nav .next {
	float: right;
	text-align: right;
}

li.sl-related-thumbnail {
	float: left;
}


/*Comment Style Start*/


ol.commentlist li .comment-author .avatar {
	float: left;
	left: -81px;
	right: auto;
}

ol.commentlist li .reply {
	text-align: right;
}

ol.commentlist li .reply a {
	right: 0px;
	left: auto;
}

.nav-next {
	float: right;
}


.nav-links .nav-previous {
	float: left;
}

.multipage-links {
	text-align: right;
}

/*Comment Style End*/
/***Post Format Start***/
/*Standard post layout*/

.content .standard-layout .post  span.post-comment {
	float: left;
}


.content .standard-layout .post .post-share {
	float: right;
}

/***Grid format icon post layout***/

.blog .post.format-video .post-img a:before, .blog .post.post_format-post-format-gallery .post-img a:before, .blog .post.format-audio .post-img a:before, .blog .post.format-link .post-img a:before {
	left: 10px;
	right: auto;
}

/***Post format start here***/

.video-wrapper iframe {
	left: 0;
	right: auto;
}

/***Audio post format***/

/***Link post format***/



/* Single Page Style End */
@media screen and (max-width: 1230px) {

}

@media screen and (max-width:1024px) {

.blog .post.format-video .post-img a:before, .blog .post.post_format-post-format-gallery .post-img a:before, .blog .post.format-audio .post-img a:before, .blog .post.format-link .post-img a:before {
	left: 10px;
	right: auto;
}

/***Post format start here***/

.video-wrapper iframe {
	left: 0;
	right: auto;
}


/***Pagination start here***/

.pagination {
	text-align: right;
}


/* Single Page Style End */
@media screen and (max-width: 1230px)
}

@media (max-width: 990px) {

@media screen and (max-width:1024px) {

.blog .post.format-video .post-img a:before, .blog .post.post_format-post-format-gallery .post-img a:before, .blog .post.format-audio .post-img a:before, .blog .post.format-link .post-img a:before {
	left: 10px;
	right: auto;
}

/***Post format start here***/

.video-wrapper iframe {
	left: 0;
	right: auto;
}


/***Pagination start here***/

.pagination {
	text-align: right;
}


/* Single Page Style End */
@media screen and (max-width: 1230px)
}

}

/****Slider media start*******/
@media screen and (max-width: 865px) {

@media screen and (max-width:1024px) {

.blog .post.format-video .post-img a:before, .blog .post.post_format-post-format-gallery .post-img a:before, .blog .post.format-audio .post-img a:before, .blog .post.format-link .post-img a:before {
	left: 10px;
	right: auto;
}

/***Post format start here***/

.video-wrapper iframe {
	left: 0;
	right: auto;
}


/***Pagination start here***/

.pagination {
	text-align: right;
}

/***Pagination load more button start here***/
	a#inifiniteLoader {
	right: 0;
	left: 0;
}

a#more_posts img {
	right: 0;
	left: 0;
}

/* Single Page Style End */
@media screen and (max-width: 1230px)
}

@media (max-width: 990px) {

@media screen and (max-width:1024px) {

.blog .post.format-video .post-img a:before, .blog .post.post_format-post-format-gallery .post-img a:before, .blog .post.format-audio .post-img a:before, .blog .post.format-link .post-img a:before {
	left: 10px;
	right: auto;
}

/***Post format start here***/

.video-wrapper iframe {
	left: 0;
	right: auto;
}


/***Pagination start here***/

.pagination {
	text-align: right;
}

/***Pagination load more button start here***/
	a#inifiniteLoader {
	right: 0;
	left: 0;
}

a#more_posts img {
	right: 0;
	left: 0;
}

/* Single Page Style End */
@media screen and (max-width: 1230px)
}

}

}

/****Slider media End*******/
@media screen and (min-width: 767px) {

}

@media screen and (max-width: 768px) {

@media (max-width: 990px) {

@media screen and (max-width:1024px) {

.blog .post.format-video .post-img a:before, .blog .post.post_format-post-format-gallery .post-img a:before, .blog .post.format-audio .post-img a:before, .blog .post.format-link .post-img a:before {
	left: 10px;
	right: auto;
}

/***Post format start here***/

.video-wrapper iframe {
	left: 0;
	right: auto;
}

/***Pagination start here***/

.pagination {
	text-align: right;
}


/* Single Page Style End */
@media screen and (max-width: 1230px)
}

}

/****Slider media start*******/
@media screen and (max-width: 865px) {

@media screen and (max-width:1024px) {

.blog .post.format-video .post-img a:before, .blog .post.post_format-post-format-gallery .post-img a:before, .blog .post.format-audio .post-img a:before, .blog .post.format-link .post-img a:before {
	left: 10px;
	right: auto;
}

/***Post format start here***/

.video-wrapper iframe {
	left: 0;
	right: auto;
}


/***Pagination start here***/

.pagination {
	text-align: right;
}



/* Single Page Style End */
@media screen and (max-width: 1230px)
}

@media (max-width: 990px) {

@media screen and (max-width:1024px) {

.blog .post.format-video .post-img a:before, .blog .post.post_format-post-format-gallery .post-img a:before, .blog .post.format-audio .post-img a:before, .blog .post.format-link .post-img a:before {
	left: 10px;
	right: auto;
}

/***Post format start here***/

.video-wrapper iframe {
	left: 0;
	right: auto;
}



/* Single Page Style End */
@media screen and (max-width: 1230px)
}

}

}

/****Slider media End*******/
@media screen and (min-width: 767px)
}

@media screen and (max-width: 550px) {

@media screen and (max-width: 768px) {

@media (max-width: 990px) {

@media screen and (max-width:1024px) {

.blog .post.format-video .post-img a:before, .blog .post.post_format-post-format-gallery .post-img a:before, .blog .post.format-audio .post-img a:before, .blog .post.format-link .post-img a:before {
	left: 10px;
	right: auto;
}

/***Post format start here***/

.video-wrapper iframe {
	left: 0;
	right: auto;
}



/***Pagination start here***/

.pagination {
	text-align: right;
}



/* Single Page Style End */
@media screen and (max-width: 1230px)
}

}

/****Slider media start*******/
@media screen and (max-width: 865px) {

@media screen and (max-width:1024px) {

.blog .post.format-video .post-img a:before, .blog .post.post_format-post-format-gallery .post-img a:before, .blog .post.format-audio .post-img a:before, .blog .post.format-link .post-img a:before {
	left: 10px;
	right: auto;
}

/***Post format start here***/

.video-wrapper iframe {
	left: 0;
	right: auto;
}


/***Pagination start here***/

.pagination {
	text-align: right;
}


/* Single Page Style End */
@media screen and (max-width: 1230px)
}

@media (max-width: 990px) {

@media screen and (max-width:1024px) {

.blog .post.format-video .post-img a:before, .blog .post.post_format-post-format-gallery .post-img a:before, .blog .post.format-audio .post-img a:before, .blog .post.format-link .post-img a:before {
	left: 10px;
	right: auto;
}

/***Post format start here***/

.video-wrapper iframe {
	left: 0;
	right: auto;
}

/***Pagination start here***/

.pagination {
	text-align: right;
}


/* Single Page Style End */
@media screen and (max-width: 1230px)
}

}

}

/****Slider media End*******/
@media screen and (min-width: 767px)
}

}

@media screen and (max-width: 480px) {

/****Slider media End*******/
@media screen and (min-width: 767px)
@media screen and (max-width: 768px) {

@media (max-width: 990px) {

@media screen and (max-width:1024px) {

.blog .post.format-video .post-img a:before, .blog .post.post_format-post-format-gallery .post-img a:before, .blog .post.format-audio .post-img a:before, .blog .post.format-link .post-img a:before {
	left: 10px;
	right: auto;
}

/***Post format start here***/

.video-wrapper iframe {
	left: 0;
	right: auto;
}


/***Pagination start here***/

.pagination {
	text-align: right;
}

/* Single Page Style End */
@media screen and (max-width: 1230px)
}

}

/****Slider media start*******/
@media screen and (max-width: 865px) {

@media screen and (max-width:1024px) {

.blog .post.format-video .post-img a:before, .blog .post.post_format-post-format-gallery .post-img a:before, .blog .post.format-audio .post-img a:before, .blog .post.format-link .post-img a:before {
	left: 10px;
	right: auto;
}

/***Post format start here***/

.video-wrapper iframe {
	left: 0;
	right: auto;
}


/***Pagination start here***/

.pagination {
	text-align: right;
}


/* Single Page Style End */
@media screen and (max-width: 1230px)
}

@media (max-width: 990px) {

@media screen and (max-width:1024px) {

.blog .post.format-video .post-img a:before, .blog .post.post_format-post-format-gallery .post-img a:before, .blog .post.format-audio .post-img a:before, .blog .post.format-link .post-img a:before {
	left: 10px;
	right: auto;
}

/***Post format start here***/

.video-wrapper iframe {
	left: 0;
	right: auto;
}


/***Pagination start here***/

.pagination {
	text-align: right;
}


/* Single Page Style End */
@media screen and (max-width: 1230px)
}

}

}

/****Slider media End*******/
@media screen and (min-width: 767px)
}

@media screen and (max-width: 550px) {

@media screen and (max-width: 768px) {

@media (max-width: 990px) {

@media screen and (max-width:1024px) {

.blog .post.format-video .post-img a:before, .blog .post.post_format-post-format-gallery .post-img a:before, .blog .post.format-audio .post-img a:before, .blog .post.format-link .post-img a:before {
	left: 10px;
	right: auto;
}

/***Post format start here***/

.video-wrapper iframe {
	left: 0;
	right: auto;
}

/***Pagination start here***/

.pagination {
	text-align: right;
}


/* Single Page Style End */
@media screen and (max-width: 1230px)
}

}

/****Slider media start*******/
@media screen and (max-width: 865px) {

@media screen and (max-width:1024px) {

.blog .post.format-video .post-img a:before, .blog .post.post_format-post-format-gallery .post-img a:before, .blog .post.format-audio .post-img a:before, .blog .post.format-link .post-img a:before {
	left: 10px;
	right: auto;
}

/***Post format start here***/

.video-wrapper iframe {
	left: 0;
	right: auto;
}


/***Pagination start here***/

.pagination {
	text-align: right;
}



/* Single Page Style End */
@media screen and (max-width: 1230px)
}

@media (max-width: 990px) {

@media screen and (max-width:1024px) {

.blog .post.format-video .post-img a:before, .blog .post.post_format-post-format-gallery .post-img a:before, .blog .post.format-audio .post-img a:before, .blog .post.format-link .post-img a:before {
	left: 10px;
	right: auto;
}

/***Post format start here***/

.video-wrapper iframe {
	left: 0;
	right: auto;
}


/***Pagination start here***/

.pagination {
	text-align: right;
}


/* Single Page Style End */
@media screen and (max-width: 1230px)
}

}

}

/****Slider media End*******/
@media screen and (min-width: 767px)
}

}

}


/* Generated by the RTLer - http://wordpress.org/extend/plugins/rtler/ */